<nav class="navbar navbar-expand-md bg-body-light border-bottom fixed-top">
	<div class="container-fluid">
		<a class="navbar-brand" href="/listings">
			<i class="fa-regular fa-compass"></i>
		</a>

		<!-- Search form OUTSIDE the collapsible div - always visible -->
		<form
			class="d-flex search-form-mobile d-md-none mx-auto order-2"
			role="search"
			action="/listings"
			method="GET"
		>
			<div class="input-group">
				<input
					class="form-control search-input"
					type="search"
					placeholder="Search"
					name="q"
					value="<%= typeof q !== 'undefined' ? q : '' %>"
				/>
				<button class="btn search-btn" type="submit">
					<i class="fa-solid fa-magnifying-glass"></i>
				</button>
			</div>
		</form>

		<button
			class="navbar-toggler"
			type="button"
			aria-controls="navbarNav"
			aria-expanded="false"
		>
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Collapsible content for desktop -->
		<div class="collapse navbar-collapse" id="navbarNav">
			<div class="navbar-nav">
				<a class="nav-link" href="/listings">WanderLust</a>
			</div>

			<!-- Desktop Search Form -->
			<form
				class="d-none d-md-flex search-form-desktop mx-auto"
				role="search"
				action="/listings"
				method="GET"
			>
				<div class="input-group">
					<input
						class="form-control search-input"
						type="search"
						placeholder="Search destinations"
						name="q"
						value="<%= typeof q !== 'undefined' ? q : '' %>"
					/>
					<button class="btn search-btn" type="submit">
						<i class="fa-solid fa-magnifying-glass"></i>
						<span class="search-text">Search</span>
					</button>
				</div>
			</form>

			<div class="navbar-nav">
				<a class="nav-link" href="/listings/new">Add New Listing</a>
				<% if(!currentUser) {%>
				<a class="nav-link" href="/signup"><b>Sign Up</b></a>
				<a class="nav-link" href="/login"><b>Log In</b></a>
				<% } %> <% if(currentUser) {%>
				<a class="nav-link" href="/logout"><b>Log Out</b></a>
				<% } %>
			</div>
		</div>
	</div>
</nav>
