<% layout("/layouts/boilerplate") %>

<div id="all-filters">
	<div class="filter-scrollbar">
		<div class="filter-scroll">
			<a href="#trending" class="filter-item active">
				<p><i class="fa-solid fa-fire"></i>&nbsp;Trending</p></a
			>
			<a href="#rooms" class="filter-item">
				<p><i class="fa-solid fa-bed"></i>&nbsp;Rooms</p>
			</a>
			<a href="#iconic-cities" class="filter-item">
				<p><i class="fa-solid fa-mountain-city"></i>&nbsp;Iconic Cities</p>
			</a>
			<a href="#mountains" class="filter-item">
				<p><i class="fa-solid fa-mountain"></i>&nbsp;Mountains</p>
			</a>
			<a href="#castles" class="filter-item">
				<p><i class="fa-solid fa-chess-rook"></i>&nbsp;Castles</p>
			</a>
			<a href="#amazing-pools" class="filter-item"
				><p><i class="fa-solid fa-person-swimming"></i>&nbsp;Amazing Pools</p>
			</a>
			<a href="#camping" class="filter-item"
				><p><i class="fa-solid fa-tent"></i>&nbsp;Camping</p>
			</a>
			<a href="#farms" class="filter-item"
				><p><i class="fa-solid fa-tractor"></i>&nbsp;Farms</p></a
			>
			<a href="#arctic" class="filter-item"
				><p><i class="fa-solid fa-snowflake"></i>&nbsp;Arctic</p></a
			>
			<a href="#domes" class="filter-item"
				><p><i class="fa-solid fa-igloo"></i>&nbsp;Domes</p></a
			>
			<a href="#boats" class="filter-item"
				><p><i class="fa-solid fa-sailboat"></i>&nbsp;Boats</p></a
			>
		</div>
	</div>
	<div class="tax-toggle">
		<div class="form-check-reverse form-switch">
			<input
				class="form-check-input"
				type="checkbox"
				role="switch"
				id="flexSwitchCheckDefault"
			/>
			<label class="form-check-label" for="flexSwitchCheckDefault"
				>Display total after Taxes</label
			>
		</div>
	</div>
</div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
	<% for(let listing of allListings){ %>
	<a href="/listings/<%=listing._id%>" class="listing-link">
		<div class="card col listing-card">
			<img
				src="<%= listing.image.url %>"
				class="card-img-top"
				alt="listing_image"
				style="height: 20rem"
			/>
			<div class="card-img-overlay"></div>
			<div class="card-body">
				<b><p class="card-text"><%= listing.title %></p></b>
				<p class="card-text">
					&#8377; <%= listing.price.toLocaleString("en-IN") %>/night
					<i class="tax-info"> + 18% GST</i>
					<br />
				</p>
			</div>
		</div>
	</a>
	<% } %>
</div>
